# Access InfluxDB from Python
Inspired by https://www.influxdata.com/blog/getting-started-python-influxdb/

In [3]:
from influxdb import InfluxDBClient
from ruamel.yaml import YAML
import pandas as pd
import datetime as dt

## Make the client and connect to a database

In [4]:
with open("secrets.yaml", "r") as file:
    secrets = YAML().load(file)

client = InfluxDBClient(host=secrets["influx"]["host"], 
                        port=secrets["influx"]["port"], 
                        username=secrets["influx"]["username"], 
                        password=secrets["influx"]["password"])

client.get_list_database()

[{'name': '_internal'},
 {'name': 'influx_db_1'},
 {'name': 'influx_db_2'},
 {'name': 'influx_db_3'},
 {'name': 'influx_db_4'}]

In [5]:
client.switch_database('influx_db_4')

## show series

In [6]:
points = [p["key"].replace("\\", "") for p in client.query("show series").get_points()]
for i, point in enumerate(points):
    print(i, point)

0 %,domain=sensor,entity_id=benni_battery
1 %,domain=sensor,entity_id=benni_moisture
2 %,domain=sensor,entity_id=cooper_se_charging_target
3 %,domain=sensor,entity_id=cooper_se_remaining_battery_percent
4 %,domain=sensor,entity_id=disk_use_percent
5 %,domain=sensor,entity_id=memory_use_percent
6 %,domain=sensor,entity_id=moto_g54_5g_battery_level
7 %,domain=sensor,entity_id=my_sensor
8 %,domain=sensor,entity_id=mz_shutter_ff_bath_illuminance
9 %,domain=sensor,entity_id=mz_shutter_ff_lara_l_illuminance
10 %,domain=sensor,entity_id=mz_shutter_ff_lara_m_illuminance
11 %,domain=sensor,entity_id=mz_shutter_ff_lara_r_illuminance
12 %,domain=sensor,entity_id=mz_shutter_ff_sleep_l_illuminance
13 %,domain=sensor,entity_id=mz_shutter_ff_sleep_r_illuminance
14 %,domain=sensor,entity_id=mz_shutter_gf_kitchen_illuminance
15 %,domain=sensor,entity_id=mz_shutter_gf_toilet_illuminance
16 %,domain=sensor,entity_id=mz_shutter_sf_studio_l_illuminance
17 %,domain=sensor,entity_id=openweathermap_cloud_coverage
18 %,domain=sensor,entity_id=openweathermap_forecast_cloud_coverage
19 %,domain=sensor,entity_id=openweathermap_forecast_precipitation_probability
20 %,domain=sensor,entity_id=openweathermap_humidity
21 %,domain=sensor,entity_id=pixel_6a_battery_level
22 %,domain=sensor,entity_id=processor_use
23 %,domain=sensor,entity_id=roller_shutter_push_button_illuminance
24 %,domain=sensor,entity_id=shelly_th_black_battery
25 %,domain=sensor,entity_id=shelly_th_black_humidity
26 %,domain=sensor,entity_id=shelly_th_white_battery
27 %,domain=sensor,entity_id=shelly_th_white_humidity
28 %,domain=sensor,entity_id=shelly_uni2_humidity
29 %,domain=sensor,entity_id=silkes_huawei_battery_level
30 %,domain=sensor,entity_id=sm_t860_battery_level
31 %,domain=sensor,entity_id=sma_battery_capacity_total
32 %,domain=sensor,entity_id=sma_battery_soc_total
33 %,domain=sensor,entity_id=smoke_detector_battery_level
34 %,domain=sensor,entity_id=smoke_detector_pv_cellar_battery_level
35 A,domain=sensor,entity_id=sma_battery_current_a
36 A,domain=sensor,entity_id=sma_current_total
37 A,domain=sensor,entity_id=sma_metering_current_l1
38 A,domain=sensor,entity_id=sma_metering_current_l2
39 A,domain=sensor,entity_id=sma_metering_current_l3
40 A,domain=sensor,entity_id=sma_pv_current_a
41 A,domain=sensor,entity_id=sma_pv_current_b
42 A,domain=sensor,entity_id=walli_l1_current
43 A,domain=sensor,entity_id=walli_l2_current
44 A,domain=sensor,entity_id=walli_l3_current
45 A,domain=sensor,entity_id=walli_max_current_hw_config
46 A,domain=sensor,entity_id=walli_min_current_hw_config
47 B,domain=sensor,entity_id=gasmeter2_freemem
48 B,domain=sensor,entity_id=gasmeter_freemem
49 B,domain=sensor,entity_id=watermeter_freemem
50 GB,domain=sensor,entity_id=pixel_6a_app_memory
51 GiB,domain=sensor,entity_id=disk_free
52 GiB,domain=sensor,entity_id=disk_use
53 Hz,domain=sensor,entity_id=sma_metering_frequency
54 Mbit/s,domain=sensor,entity_id=speedtest_download
55 Mbit/s,domain=sensor,entity_id=speedtest_upload
56 MiB,domain=sensor,entity_id=memory_free
57 MiB,domain=sensor,entity_id=memory_use
58 UV index,domain=sensor,entity_id=openweathermap_uv_index
59 V,domain=sensor,entity_id=shelly_uni2_adc
60 V,domain=sensor,entity_id=shellyuni_c45bbe6acfed_adc
61 V,domain=sensor,entity_id=walli_l1_voltage
62 V,domain=sensor,entity_id=walli_l2_voltage
63 V,domain=sensor,entity_id=walli_l3_voltage
64 W,domain=sensor,entity_id=available_charging_power
65 W,domain=sensor,entity_id=byd_charging_power
66 W,domain=sensor,entity_id=filter_filtered_available_charging_power
67 W,domain=sensor,entity_id=filter_filtered_power_imported
68 W,domain=sensor,entity_id=filter_power_exported
69 W,domain=sensor,entity_id=filter_solar_power
70 W,domain=sensor,entity_id=filter_total_power_consumed
71 W,domain=sensor,entity_id=home_power_consumed
72 W,domain=sensor,entity_id=pixel_6a_battery_power
73 W,domain=sensor,entity_id=power_exported
74 W,domain=sensor,entity_id=power_imported
75 W,domain=sensor,entity_id=shellyplug_s_43f1e3_power
76 W,domain=sensor,entity_id=sma_battery_power_charge_total
77 W,domain=sensor,entity_id=sma_battery_power_discharge_total
78 W,domain=sensor,entity_id=sma_grid_power
79 W,domain=sensor,entity_id=sma_inverter_power_limit
80 W,domain=sensor,entity_id=sma_metering_active_power_draw_l1
81 W,domain=sensor,entity_id=sma_metering_active_power_draw_l2
82 W,domain=sensor,entity_id=sma_metering_active_power_draw_l3
83 W,domain=sensor,entity_id=sma_metering_active_power_feed_l1
84 W,domain=sensor,entity_id=sma_metering_active_power_feed_l2
85 W,domain=sensor,entity_id=sma_metering_active_power_feed_l3
86 W,domain=sensor,entity_id=sma_metering_power_absorbed
87 W,domain=sensor,entity_id=sma_metering_power_supplied
88 W,domain=sensor,entity_id=sma_pv_power_a
89 W,domain=sensor,entity_id=sma_pv_power_b
90 W,domain=sensor,entity_id=total_power_consumed
91 W,domain=sensor,entity_id=walli_power
92 Wh,domain=sensor,entity_id=sma_daily_yield
93 dBm,domain=sensor,entity_id=gasmeter2_wifirssi
94 dBm,domain=sensor,entity_id=gasmeter_wifirssi
95 dBm,domain=sensor,entity_id=watermeter_wifirssi
96 hPa,domain=sensor,entity_id=openweathermap_forecast_pressure
97 hPa,domain=sensor,entity_id=openweathermap_pressure
98 kW,domain=sensor,entity_id=walli_charging_power
99 kWh,domain=sensor,entity_id=shellyplug_s_43f1e3_energy
100 kWh,domain=sensor,entity_id=sma_battery_charge_total
101 kWh,domain=sensor,entity_id=sma_battery_discharge_total
102 kWh,domain=sensor,entity_id=sma_metering_total_absorbed
103 kWh,domain=sensor,entity_id=sma_metering_total_yield
104 kWh,domain=sensor,entity_id=sma_pv_gen_meter
105 kWh,domain=sensor,entity_id=sma_total_yield
106 kWh,domain=sensor,entity_id=swm_energy_meter_energy_exported
107 kWh,domain=sensor,entity_id=swm_energy_meter_energy_imported
108 kWh,domain=sensor,entity_id=walli_energy_since_powerup
109 kWh,domain=sensor,entity_id=walli_energy_total
110 kWh/100km,domain=sensor,entity_id=consumption_estimate
111 km,domain=sensor,entity_id=cooper_se_mileage
112 km,domain=sensor,entity_id=cooper_se_remaining_range_electric
113 km,domain=sensor,entity_id=cooper_se_remaining_range_total
114 km/h,domain=sensor,entity_id=openweathermap_forecast_wind_speed
115 km/h,domain=sensor,entity_id=openweathermap_wind_speed
116 l,domain=sensor,entity_id=mz_shutter_ff_sleep_l_tank_capacity_1
117 lx,domain=sensor,entity_id=benni_illuminance
118 m,domain=sensor,entity_id=openweathermap_visibility
119 min,domain=sensor,entity_id=gasmeter2_interval
120 min,domain=sensor,entity_id=gasmeter_interval
121 min,domain=sensor,entity_id=watermeter_interval
122 mm,domain=sensor,entity_id=openweathermap_forecast_precipitation
123 mm,domain=sensor,entity_id=openweathermap_rain
124 mm,domain=sensor,entity_id=openweathermap_snow
125 mm/h,domain=sensor,entity_id=openweathermap_rain
126 mm/h,domain=sensor,entity_id=openweathermap_snow
127 ms,domain=sensor,entity_id=speedtest_ping
128 m³,domain=sensor,entity_id=gasmeter2_rate_per_digitalization_round
129 m³,domain=sensor,entity_id=gasmeter2_value
130 m³,domain=sensor,entity_id=gasmeter_rate_per_digitalization_round
131 m³,domain=sensor,entity_id=gasmeter_value
132 m³,domain=sensor,entity_id=watermeter_rate_per_digitalization_round
133 m³,domain=sensor,entity_id=watermeter_value
134 m³/h,domain=sensor,entity_id=gasmeter2_rate_per_time_unit
135 m³/h,domain=sensor,entity_id=gasmeter_rate_per_time_unit
136 m³/h,domain=sensor,entity_id=watermeter_rate_per_time_unit
137 pending update(s),domain=sensor,entity_id=hacs
138 s,domain=sensor,entity_id=gasmeter2_uptime
139 s,domain=sensor,entity_id=gasmeter_uptime
140 s,domain=sensor,entity_id=watermeter_uptime
141 state,domain=binary_sensor,entity_id=cooper_se_charging_status
142 state,domain=binary_sensor,entity_id=cooper_se_check_control_messages
143 state,domain=binary_sensor,entity_id=cooper_se_condition_based_services
144 state,domain=binary_sensor,entity_id=cooper_se_connection_status
145 state,domain=binary_sensor,entity_id=cooper_se_door_lock_state
146 state,domain=binary_sensor,entity_id=cooper_se_lids
147 state,domain=binary_sensor,entity_id=cooper_se_pre_entry_climatization
148 state,domain=binary_sensor,entity_id=cooper_se_windows
149 state,domain=binary_sensor,entity_id=gasmeter2_problem
150 state,domain=binary_sensor,entity_id=gasmeter_problem
151 state,domain=binary_sensor,entity_id=nspanel2_left_button
152 state,domain=binary_sensor,entity_id=nspanel2_nextion_display
153 state,domain=binary_sensor,entity_id=nspanel2_right_button
154 state,domain=binary_sensor,entity_id=nspanel2_status
155 state,domain=binary_sensor,entity_id=nspanel_livingroom_left_button
156 state,domain=binary_sensor,entity_id=nspanel_livingroom_nextion_display
157 state,domain=binary_sensor,entity_id=nspanel_livingroom_right_button
158 state,domain=binary_sensor,entity_id=nspanel_livingroom_status
159 state,domain=binary_sensor,entity_id=pixel_6a_is_charging
160 state,domain=binary_sensor,entity_id=remote_ui
161 state,domain=binary_sensor,entity_id=rpi_power_status
162 state,domain=binary_sensor,entity_id=shellyplug_s_43f1e3_overheating
163 state,domain=binary_sensor,entity_id=shellyplug_s_43f1e3_overpowering
164 state,domain=binary_sensor,entity_id=smoke_detector_low_battery_level
165 state,domain=binary_sensor,entity_id=smoke_detector_pv_cellar_low_battery_level
166 state,domain=binary_sensor,entity_id=smoke_detector_pv_cellar_smoke_detected
167 state,domain=binary_sensor,entity_id=smoke_detector_smoke_detected
168 state,domain=binary_sensor,entity_id=wallmote_quad_battery_is_charging
169 state,domain=binary_sensor,entity_id=wallmote_quad_battery_is_fully_charged
170 state,domain=binary_sensor,entity_id=watermeter_problem
171 state,domain=sensor,entity_id=gasmeter2_raw
172 state,domain=sensor,entity_id=gasmeter_raw
173 state,domain=sensor,entity_id=load_15m
174 state,domain=sensor,entity_id=load_1m
175 state,domain=sensor,entity_id=load_5m
176 state,domain=sensor,entity_id=nspanel2_current_page
177 state,domain=sensor,entity_id=nspanel_livingroom_current_page
178 state,domain=sensor,entity_id=openweathermap_weather_code
179 state,domain=sensor,entity_id=pixel_6a_detected_activity
180 state,domain=sensor,entity_id=walli_charging_state
181 state,domain=sensor,entity_id=walli_external_lock_state
182 state,domain=sensor,entity_id=watermeter_raw
183 steps,domain=sensor,entity_id=pixel_6a_steps_sensor
184 °,domain=sensor,entity_id=openweathermap_forecast_wind_bearing
185 °,domain=sensor,entity_id=openweathermap_wind_bearing
186 °C,domain=sensor,entity_id=benni_temperature
187 °C,domain=sensor,entity_id=gasmeter2_cputemp
188 °C,domain=sensor,entity_id=gasmeter_cputemp
189 °C,domain=sensor,entity_id=nspanel2_temperature
190 °C,domain=sensor,entity_id=nspanel_livingroom_temperature
191 °C,domain=sensor,entity_id=openweathermap_dew_point
192 °C,domain=sensor,entity_id=openweathermap_feels_like_temperature
193 °C,domain=sensor,entity_id=openweathermap_forecast_temperature
194 °C,domain=sensor,entity_id=openweathermap_forecast_temperature_low
195 °C,domain=sensor,entity_id=openweathermap_temperature
196 °C,domain=sensor,entity_id=pixel_6a_battery_temperature
197 °C,domain=sensor,entity_id=processor_temperature
198 °C,domain=sensor,entity_id=shelly_th_black_temperature
199 °C,domain=sensor,entity_id=shelly_th_white_temperature
200 °C,domain=sensor,entity_id=shelly_uni2_temperature
201 °C,domain=sensor,entity_id=shellyplug_s_43f1e3_device_temperature
202 °C,domain=sensor,entity_id=sma_battery_temp_a
203 °C,domain=sensor,entity_id=walli_wallbox_pcb_temperature
204 °C,domain=sensor,entity_id=watermeter_cputemp
205 µS/cm,domain=sensor,entity_id=benni_conductivity

## Query simple

In [7]:
qstr = f'SELECT * FROM "m³/h" WHERE TIME >= now() -1d'
print(f"{qstr=}")
df = pd.DataFrame.from_records(client.query(qstr).get_points())
df.tail(3)

qstr='SELECT * FROM "m³/h" WHERE TIME >= now() -1d'

                    time  domain                      entity_id  mean_value
26  2024-06-01T23:00:00Z  sensor  watermeter_rate_per_time_unit      0.0024
27  2024-06-02T04:00:00Z  sensor   gasmeter2_rate_per_time_unit      0.0300
28  2024-06-02T05:00:00Z  sensor   gasmeter2_rate_per_time_unit      0.3830

In [8]:
df.time = pd.to_datetime(df.time)
df = df.set_index("time")
df.head()

                           domain                      entity_id  mean_value
time
2024-06-01 07:00:00+00:00  sensor   gasmeter2_rate_per_time_unit     0.10500
2024-06-01 07:00:00+00:00  sensor  watermeter_rate_per_time_unit     0.02676
2024-06-01 08:00:00+00:00  sensor   gasmeter2_rate_per_time_unit     0.13700
2024-06-01 08:00:00+00:00  sensor  watermeter_rate_per_time_unit     0.01190
2024-06-01 09:00:00+00:00  sensor   gasmeter2_rate_per_time_unit     0.10400

In [9]:
df.entity_id.value_counts()

entity_id
watermeter_rate_per_time_unit    15
gasmeter2_rate_per_time_unit     14
Name: count, dtype: int64

## Query with datetime filter

In [10]:
unit = "m³"
entity_id = "watermeter_value"
selection = "mean_value"
qstr = f'SELECT {selection} FROM "{unit}" WHERE {entity_id=}'
qstr

'SELECT mean_value FROM "m³" WHERE entity_id=\'watermeter_value\''

Simple query string w/o datetime filter provides all data:

In [11]:
pd.DataFrame.from_records(client.query(qstr).get_points())

                      time  mean_value
0     2023-10-29T14:00:00Z  579.340333
1     2023-10-29T15:00:00Z  579.342650
2     2023-10-29T16:00:00Z  579.360750
3     2023-10-29T17:00:00Z  579.378600
4     2023-10-29T18:00:00Z  579.287033
...                    ...         ...
2882  2024-06-01T17:00:00Z  619.520500
2883  2024-06-01T18:00:00Z  619.545200
2884  2024-06-01T19:00:00Z  619.549900
2885  2024-06-01T20:00:00Z  619.562625
2886  2024-06-01T23:00:00Z  619.568300

[2887 rows x 2 columns]

## Adding a datetime filter
InfluxDB is very intolerant about the quotes (`"`, `'`)

In [12]:
start_date = dt.datetime(2024,4,1).date()
start_time = dt.time(12, 0, 0)
rfc3339_format = '%Y-%m-%dT%H:%M:%S.00000000Z'
start_string = dt.datetime.combine(start_date, start_time).strftime(rfc3339_format)
start_string

'2024-04-01T12:00:00.00000000Z'

In [13]:
qstr = f"""SELECT {selection} FROM "{unit}" WHERE {entity_id=} AND time >= '{start_string}'"""
qstr

'SELECT mean_value FROM "m³" WHERE entity_id=\'watermeter_value\' AND time >= \'2024-04-01T12:00:00.00000000Z\''

In [14]:
pd.DataFrame.from_records(client.query(qstr).get_points()).set_index("time")

                      mean_value
time
2024-04-01T12:00:00Z  607.470350
2024-04-01T14:00:00Z  607.470350
2024-04-01T15:00:00Z  607.470350
2024-04-01T16:00:00Z  607.479475
2024-04-01T18:00:00Z  607.492200
...                          ...
2024-06-01T17:00:00Z  619.520500
2024-06-01T18:00:00Z  619.545200
2024-06-01T19:00:00Z  619.549900
2024-06-01T20:00:00Z  619.562625
2024-06-01T23:00:00Z  619.568300

[874 rows x 1 columns]

# Interactive Database cleanup tool

In [35]:
records = list()
points = [p["key"].replace("\\", "") for p in client.query("show series").get_points()]
for point in points:
    unit, _, entity_id = point.split(",")
    entity_id = entity_id.split("=")[-1]
    qstr = f"""SELECT * FROM "{unit}" WHERE entity_id = '{entity_id}'"""
    data = pd.DataFrame.from_records(client.query(qstr).get_points())
    records.append({"unit": unit, "entity_id": entity_id, "length": len(data)})
df = pd.DataFrame.from_records(records)
df.tail()

      unit                               entity_id  length
175     °C  shellyplug_s_43f1e3_device_temperature    2532
176     °C                      sma_battery_temp_a    2305
177     °C           walli_wallbox_pcb_temperature    8763
178     °C                      watermeter_cputemp    3487
179  µS/cm                      benni_conductivity     582

In [37]:
from IPython.display import clear_output
df = df.sort_values("length")
blacklist = list()
for idf, row in df.iterrows():
    unit = row["unit"]
    entity_id = row["entity_id"]
    length = row["length"]
    qstr = f"""SELECT * FROM "{unit}" WHERE entity_id = '{entity_id}'"""
    data = pd.DataFrame.from_records(client.query(qstr).get_points())
    data.time = pd.to_datetime(data.time)
    series = data.set_index("time")["mean_value"]
    title = f"{entity_id=}   {length=}   until={series.index[-1]}"
    try:
        series.plot(figsize=(15, 2), style="o-", ylabel=unit, title=title)
        plt.show()
    except Exception as exception:
        print(f"{exception=}")
    choice = input("('delete'), ('add') to blacklist, ('abort') or (any) to continoue?")
    clear_output()
    if choice == "abort":
        break
    elif choice == "add":
        blacklist.append(row.to_dict())
    elif choice == "delete":
        confirm = input("Are you really sure to delete, then type 'confirm'")
        if confirm == "confirm":
            print(f"Deleting {entity_id=} ...")
            delete_str = f"""DELETE FROM "{unit}" WHERE entity_id = '{entity_id}'"""
            client.query(delete_str)
if blacklist:
    import json
    with open("entity_blacklist.json", "w") as file:
        json.dump(blacklist, file)

In [44]:
with open("entity_blacklist.json", "r") as file:
    data = json.load(file)

df = pd.DataFrame.from_records(data)
df = df.drop(axis=1, labels=["length"])
df = df.sort_values("entity_id").set_index("entity_id")
df.to_csv("entity_blacklist.csv")